[submodule "shop"]
	path = shop
	url = https://github.com/tuanpnt17/FurEverCarePlatform.Shop.git
[submodule "management"]
	path = management
	url = https://github.com/nguyentttse180432/FurEverCarePlatform.Managerment.git
[submodule "backend"]
	path = backend
	url = https://github.com/Datdater/FurEverCarePlatform.git
